<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>ember.tif</string>
	<key>CFBundleIdentifier</key>
	<string>com.realmacsoftware.uploader.ember</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>RMUploaderEmber</string>
	<key>RMUploadPluginDestinationTypes</key>
	<string>RMUploaderEmberPreset</string>
	<key>RMUploadPluginBundleMinimumFrameworkBundleVersion</key>
	<string>1</string>
	<key>DSTrayBundleImages</key>
	<dict>
		<key>ember</key>
		<dict>
			<key>localisedName</key>
			<string>Ember</string>
			<key>closedImage1</key>
			<string>ember_closed_1.png</string>
			<key>openImage1</key>
			<string>ember_open_1.png</string>
			<key>openImage2</key>
			<string>ember_open_2.png</string>
		</dict>
	</dict>
	<key>DSTrayBundlePlugInVersion</key>
	<string>1</string>
</dict>
</plist>
